html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  hyphens: auto;
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: paleturquoise;
}

header.main {
  color: chocolate;
}

a {
  text-decoration: none;
  padding: 2px 1px;
}

a:link {
  /* background: rgb(182, 196, 106); */
  color: rgb(14, 108, 185);
}

a:visited {
  color: red;
}

a:focus,
a:hover {
  background: #06b5bb;
  border-bottom: 2px solid;
}

a:active {
  background: rgb(154, 185, 14);
  border-bottom: 2px solid;
}
