html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  hyphens: auto;
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: paleturquoise;
}

header.main,
section h2 {
  color: chocolate;
}

a {
  text-decoration: none;
  padding: 2px 1px;
}

a:link {
  /* background: rgb(182, 196, 106); */
  color: rgb(14, 108, 185);
}

a:visited {
  color: red;
}

a:focus,
a:hover {
  background: #06b5bb;
  border-bottom: 2px solid;
}

a:active {
  background: rgb(154, 185, 14);
  border-bottom: 2px solid;
}

ul {
  display: inline;
  inline-size: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

ul li {
  display: inline-block;
  inline-size: 19.5%;
  block-size: 2rem;
  line-height: 2rem;
  margin-right: 0.625%;
  margin-left: 0;
  background: rgb(224, 166, 166);
  text-align: center;
  font-weight: 600;
  outline: none;
  /* padding: 0.5rem 0; */
}

li:last-child {
  margin-right: 0;
}

li:focus,
li:hover,
li > a:focus,
li > a:hover {
  background: rgb(127, 168, 196);
  border: none;
}
